<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="2.0.30" targetFramework="net461" />
  <package id="MahApps.Metro" version="1.2.4.0" targetFramework="net461" />
  <package id="MaterialDesignColors" version="1.2.2" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="3.0.1" targetFramework="net461" />
  <package id="MaterialMessageBox" version="1.0.0.11" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.112.0" targetFramework="net461" />
  <package id="ToastNotifications" version="2.5.1" targetFramework="net461" />
  <package id="ToastNotifications.Messages" version="2.5.0" targetFramework="net461" />
</packages>